BOT_TOKEN=123456:ABC
ADMIN_IDS=123456789,987654321
SUPPORT_USERNAME=support
SUPPORT_CHAT=https://t.me/example
COMMISSION_PERCENT=2
CURRENCY=USDT
MIN_DEPOSIT=5
MIN_WITHDRAW=10

BANK_API_ID=0
BANK_API_HASH=
BANK_SESSION=
BANK_USERNAME=

TON_ADDRESS=
TON_API_KEY=
TON_RATE=0

DB_PATH=data/garant.db
